**1. Lists/Tuples in Python**

Lists --> ordered, mutable, indexed, duplicate elements allowed, can take data of any datatype, enclosed within square brackets

Tuples --> ordered, immutable, indexed, duplicate elements allowed, can take data of any datatype, enclosed within brackets

Tuples can be used where the data should not be changed once entered

In [1]:
list_1=[1,2,3.5,'hello']
list_1[1]

2

In [2]:
list_1[1]='hi'
list_1

[1, 'hi', 3.5, 'hello']

In [3]:
tuple_1=(1,2,3.5,'hello')
tuple_1[1]

2

In [4]:
tuple_1[1]=('hi')

TypeError: 'tuple' object does not support item assignment

**Returns error as tuple is immutable**

**2. Write a function that takes a list of integers and returns a new list with only the even numbers.**

In [94]:
def even(*args):
  even_list=[i for i in args if i % 2==0]
  return even_list

In [95]:
even(1,2,3,4,5,6,7,8)

[2, 4, 6, 8]

**4.Given a dictionary where keys are student names and values are lists of their scores, write a function that returns the average score for each student.**

In [127]:
dict_1={"John":[45,50,48, 89],"Priya":[45,80,90, 40]}
dict_1

{'John': [45, 50, 48, 89], 'Priya': [45, 80, 90, 40]}

In [128]:
def average(dict_1):
  average=[]
  for i in dict_1.values():
    average.append(sum(i)/len(i))
  print("Average Scores are",dict_1.keys(), average)

In [129]:
average(dict_1)

Average Scores are dict_keys(['John', 'Priya']) [58.0, 63.75]

**5.What are args and kwargs in Python functions, and how are they used?**

*args and **kwargs can be used when we are unsure about the variable length passed to a function

args are normal arguments and kwargs represent keyword arguments

In [132]:
def sum_func(*args):
  return sum(args)

In [133]:
total=sum_func(1,2,3)
print("Sum is", total)

Sum is 6

In [134]:
total=sum_func(1,2,3,4,5)
print("Sum is", total)

Sum is 15

In [143]:
def concat(name, **kwargs):
   result=" ".join(kwargs.values())
   return name+" "+result

In [144]:
final=concat("Priya", first="Welcome", second="to", third= 'India')
print(final)

Priya Welcome to India