1. Python data types
    1. integers - positve, zero and negative whole numbers
    example:-5,0,1,2 etc
    2. float - decimal numbers
    example: 1.1, 2.1,6.0
    3. string -"Hi, Welcome"
    
Other sequence datatypes include:

    1. List - ordered, mutable, contains element of any datatype.
    Enclosed in square brackets
    Eg: [1,2,3,"hello",7.6]
    2. Tuples - ordered, immutable, contains element of any datatype.
    Enclosed by braces as shown below
    Eg: (1,2,3,"hello",7.6)
    3. Sets - Unordered, no duplicate elements allowed
    Eg:{1,2,3.5,"hello"}
    4. Dictionaries - will be in key value pairs

    Eg:
    student_database={"name":"ABC","Dept": "EEE"}

    here name and Dept - key
    ABC and EEE values

In [1]:
a=2
type(a) #integer

int

In [2]:
b=3.5
type(b)

float

In [3]:
c="hello"
type(c)

str

2. List, Tuple and Sets

  1. List - ordered, mutable, contains element of any datatype, allows element to be duplicated
Enclosed in square brackets
Eg: [1,2,3,4.5,"hello"]

  2. Tuples - ordered, immutable, contains element of any datatype.allows element to be duplicated
Enclosed by braces as shown below
Eg: (1,2,3,"hello",7.6)
  3. Sets - Unordered, no duplicate elements allowed
Eg:{1,2,3.5,"hello"}

In [7]:
list_1=[1,2,3,4.5,"hello",3]  #duplicate elements allowed and ordered
for i in range(len(list_1)):
  print(list_1[i])

1
2
3
4.5
hello
3

In [8]:
list_1[3]="hi" #mutability
list_1

[1, 2, 3, 'hi', 'hello', 3]

element at index 3 changed to "hi" - hence mutable

In [9]:
tuple_1=(1,2,3,"hello",7.6,4) #duplicates and ordered
for i in range(4):
  print(tuple_1[i])

1
2
3
hello

In [10]:
tuple_1[3]="hi" #immutable -- throws error

TypeError: 'tuple' object does not support item assignment

In [11]:
list_1

[1, 2, 3, 'hi', 'hello', 3]

If I convert this list to set can see, duplicate elemnts are present only one in the set

In [12]:
set_1=set(list_1) # only unique elements present
set_1

{1, 2, 3, 'hello', 'hi'}

3 is removed

In [13]:
set_1[0] #throws error as it is unordered and cannot be accessed using index

TypeError: 'set' object is not subscriptable

3. Handling Exceptions in Python

Some exceptions may happen in our program like a number divided by zero (that throws an error) or as we tried to override an element in tuple etc. to handle such situations, try and except block is used for handling such exceptions.

The block of code where we expect an error is written in try block. If no error, code in try block will be executed.

If error is encountered, code in except block will be executed

In [67]:
#to check a number is not divisible by zero
a=int(input("enter a number:"))
try:
  b=50/a
  print(b)

except:
  print('Zero Division Error')

else:
  print('Done')  #once error is not encountered / exception not found, else part is exceuted after try block

enter a number:0
Zero Division Error

5. Lambda Functions - small anonymous functions used for a specific purpose - can be used inline

In [18]:
add=lambda x: x+x
add(5)

10

7. Working with files in python

> open --> used to open a file in python, can speciy whether it is read only or write allowed using "r"/ "w" respectively
2. read() --> to read the files
3. write() - to modify/ write something into the  file

example: file=open(filename, "r") # open the file - read only

### OOP

Q1. OOP - Object Oriented Programming. Everything in Python is an object. Some basic Principles of OOPS include:
1. Encapsulation: binds/wraps all the data and method together inside a class. it is used to protect the data/ attribute from unauthorised use from outside the class.


2. Abstraction - used to hide information

3. Inheritance - Assume a student is present. he belongs to college ABC with code 01 and Department XYZ with ID no:05

The student belongs to college ABC  as well as the department thus inherits all the characters of the class College as well as exhibits its own class department Character.

Here we can tell the parent class is ABC and Child class is Department XYZ

This is called inheritance anf there are many types - multiple, multilevel, single level etc.

4. polymorphism - same method exhibits different characters when called by different objects

Q2. Class and Objects

Class: blueprint or prototype of objects belonging to that class

Objects: instances of class

Q3. Creation of Class in Python

In [30]:
class College():  #creation of class using class keyword

  def display(self):
    print("Welcome")  #defining a method inside the class

obj1=College() #creating an object for the class - say obj1

obj1.display()  # calling the method indide the class with the object craeted

Welcome

Q4:Instance and Class variables
 Class variables : common for all the objects belonging to that class
 Instance variables: varies fro object to object

In [87]:
class College():  # Parent class
    college_name="ABC" #class variable coomn to all object

    def __init__(self, stu_name, dept):
      self.student_name = stu_name #instance variable
      self.department=dept

student=College("Hari","XYZ")

print(student.college_name)
print(student.student_name)
print(student.department)

ABC
Hari
XYZ

Q5. Purpose of __init__ method

 __init__ - is known as constructor class- whenever an object is created for a particular class, memeory will be automatically allocated for the attributes of that class
#

In [21]:
class College(): #Class college is created, blueprint

  def __init__(self, name,dept):
    self.student_name=name
    self.department=dept     # name and dept -- attributes

#creating an object for class college
student_1=College("Poornima", "EEE") #creates an object student_1 of class college with name Poornima and dept EEE

#can be displayed as below

print(student_1.student_name)
print(student_1.department)

Poornima
EEE

Q7. Inheritance

Assume a student is present. he belongs to college ABC with code 01 and Department XYZ with ID no:05

The student belongs to college ABC  as well as the department thus inherits all the characters of the class College as well as exhibits its own class department Character.

Here we can tell the parent class is ABC and Child class is Department XYZ

This is called inheritance anf there are many types - multiple, multilevel, single level etc.

In [85]:
class College():  # Parent class
    college_name="ABC"

class dept(College): # child class

    def __init__(self, stu_name, dept):
      self.student_name = stu_name
      self.department=dept

    def display_stu(self):
        print("Student name is", self.student_name)
        print("Student department is:", self.department)


student=dept("Hari", "XYZ")


print("College name is:",student.college_name) #inherited from parent class

student.display_stu() #own class

#this is an example of single level inheritance where the child class inherits from one parent class

college name is: ABC
Student name is Hari
Student department is: XYZ

Q8. Method overriding

same method name used in different classes exhibit different behaviour

In [47]:
class College():  # Class1

    def display(self):
      print("College name is ABC")

class Department(): #class 2

    def display(self):
      print("Department name is XYZ")

class student(): #class 3

    def display(self):
      print("Student name is Hari")

def print_details(entity): #print_details is used for method overriding of method display
  entity.display()

college=College()
dept=Department()
stu=student() #creating objects for various classes

print_details(college)

print_details(dept)

print_details(stu)

College name is ABC
Department name is XYZ
Student name is Hari

Q11. Polymorphism in Python --> same method exhibits diiferent behaviour when called byb different objects belonging to different classes

In [48]:
class College():  # Class1

    def display(self):
      print("College name is ABC")

class Department(): #class 2

    def display(self):
      print("Department name is XYZ")

class student(): #class 3

    def display(self):
      print("Student name is Hari")

college=College()
dept=Department()
stu=student()

college.display()
dept.display()
stu.display()

College name is ABC
Department name is XYZ
Student name is Hari

Q12. Encapsulation in Python

Internal details/ attributes can be protected/ made private using __(double underscore)

In [53]:
class College():  # Parent class
    def __init__(self, name,ID, Marks):
      self.stu_name=name
      self.stu_id=ID
      self.__marks=Marks

    def display_marks(self):
      print("Marks is", self.__marks)


student_1=College("Hari", "05", "91%")

print(student_1.stu_name)
print(student_1.stu_id)
print(student_1.marks) #throws error as marks is protected

Hari
05

AttributeError: 'College' object has no attribute 'marks'

In [56]:
student_1.display_marks() # thsi is how public methods can be used to access private attributes

Marks is 91%

Q14: Operator overloading in Python

In [69]:
def add(a,b):
  print(a+b) #addition operator used for adding numbers as well as concatenating strings

In [70]:
add(5,6)  #numeric addition

11

In [71]:
add("Hi","Welcome") #string Concatenation

HiWelcome